body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

h1 {
  font-size: 30px;
  text-align: center;
}

textarea {
  display: block;
  width: 90vw;
  height: 500px;
  margin: 0 auto;
}

pre {
  display: block;
  width: 90vw;
  padding: 6px;
  border: solid gray 1px;
  margin: 16px auto;
}
